cmake-build-debug/
cmake-build-runwithfaddresssanitize/
.idea/
main.dSYM/
main
*.o
.DS_store
*.bmp
build/*
!build/.gitkeep
/tests/build
/tests/Testing

!tests/images/lenna.bmp
!tests/images/flag.bmp
test_script/
build-windows/
